@model EntityLayer.Concrete.Car

@{
    ViewBag.Title = "AddCar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1 class="pt-3 pl-3">Araç Ekleme Sayfası</h1>
    <br />
    @using (Html.BeginForm("AddCar", "AdminCarAll", FormMethod.Post))
    {
        <div class="form-group pl-3">
            @Html.Label("Araç Adı")
            @Html.TextBoxFor(x => x.CarName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CarName)
            <br /><br />
            @Html.Label("Araç Plakası")
            @Html.TextBoxFor(x => x.CarPlate, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CarPlate)

            <input type="hidden" name="Date" value="" />
            <input type="hidden" name="ActiveWorkTime" value="1" />
            <input type="hidden" name="MaintenanceTime" value="1" />
            <input type="hidden" name="IdleTime" value="1" />



            <br /><br />
            <button class="btn btn-success">Kaydet</button>
        </div>
    }
</div>
<script>
    // Sayfa yüklendiğinde tarih değerini al ve "Date" hidden alanına ata
    document.addEventListener("DOMContentLoaded", function() {
        var currentDate = new Date(); // Şu anki tarihi al
        var dateString = currentDate.toISOString(); // ISO formatında tarih stringi oluştur
        document.getElementById("Date").value = dateString; // Date hidden input'ına ata
    });
</script>

