@model EntityLayer.Concrete.Car
@{
    ViewBag.Title = "EditCar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h1 class="pt-3 pl-3">Araç Güncelleme Sayfası</h1>
    <br />
    @using (Html.BeginForm("EditCar", "AdminCarAll", FormMethod.Post))
    {
        <div class="form-group pl-3">
            @Html.Label("Arac ID")
            @Html.TextBoxFor(x => x.CarID, new { @class = "form-control", @readonly = "readonly" })
            <br />
            @Html.Label("Arac Adı")
            @Html.TextBoxFor(x => x.CarName, new { @class = "form-control" })
            <br />
            @Html.Label("Arac Plakası")
            @Html.TextBoxFor(x => x.CarPlate, new { @class = "form-control" })
            <br />
            @Html.Label("Aktif Çalışma Süresi (sa)")
            @Html.TextBoxFor(x => x.ActiveWorkTime, new { @class = "form-control", @readonly = "readonly" })
            <br />
            @Html.Label("Bakım Süresi (sa)")
            @Html.TextBoxFor(x => x.MaintenanceTime, new { @class = "form-control", @readonly = "readonly" })
            <br />
            @Html.Label("Boşta Bekleme Süresi (sa)")
            @Html.TextBoxFor(x => x.IdleTime, new { @class = "form-control", @readonly = "readonly" })
            <br />
            @Html.Label("Tarih")
            @Html.TextBoxFor(x => x.Date, new { @class = "form-control", @readonly = "readonly" })
            <br />
            <button class="btn btn-success">Güncelle</button>
        </div>
    }
</div>

