@model EntityLayer.Concrete.Car
@{
    ViewBag.Title = "UserCarEdit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container">
    <h1 class="d-flex justify-content-center align-items-center pt-3">Araç Güncelleme Sayfası</h1>
    <br />
    @using (Html.BeginForm("UserCarEdit", "UserCar", FormMethod.Post))
    {
        <div class="form-group pl-3">
            @Html.Label("Arac ID")
            @Html.TextBoxFor(x => x.CarID, new { @class = "form-control", @readonly = "readonly" })
            <br />

            @Html.Label("Araç Adı")
            @Html.TextBoxFor(x => x.CarName, new { @class = "form-control", @readonly = "readonly" })
            <br />
            
            @Html.Label("Araç Plaka")
            @Html.TextBoxFor(x => x.CarPlate, new { @class = "form-control", @readonly = "readonly" })
            <br />

            @Html.Label("Aktif Çalışma Süresi (sa)")
            @Html.TextBoxFor(x => x.ActiveWorkTime, new { @class = "form-control", id = "ActiveWorkTime" })
            <br />

            @Html.Label("Bakım Süresi (sa)")
            @Html.TextBoxFor(x => x.MaintenanceTime, new { @class = "form-control", id = "MaintenanceTime" })
            <br />

            @Html.Label("Boşta Bekleme Süresi (sa)")
            @Html.TextBoxFor(x => x.IdleTime, new { @class = "form-control", id = "IdleTime", @readonly = "readonly" })
            <br />


            <button class="btn btn-success">Güncelle</button>
        </div>
    }
</div>
<script>
    // Sayfa yüklendiğinde tarih değerini al ve "Date" hidden alanına ata
    document.addEventListener("DOMContentLoaded", function() {
        var currentDate = new Date(); // Şu anki tarihi al
        var dateString = currentDate.toISOString(); // ISO formatında tarih stringi oluştur
        document.getElementById("Date").value = dateString; // Date hidden input'ına ata
    });
</script>