@model EntityLayer.Concrete.UserCar
@{
    ViewBag.Title = "UserAddCar";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <h1 class="pt-3 pl-3">Araç Ekleme Sayfası</h1>
    <br />
    @using (Html.BeginForm("UserAddCar", "UserCar", FormMethod.Post))
    {
        <div class="form-group pl-3">
            @Html.Label("Aktif Çalışma Süresi (sa)")
            @Html.TextBoxFor(x => x.ActiveWorkTime, new { @class = "form-control", @id = "ActiveWorkTime" })
            @Html.ValidationMessageFor(x => x.ActiveWorkTime)
            <br /><br />

            @Html.Label("Bakım Süresi (sa)")
            @Html.TextBoxFor(x => x.MaintenanceTime, new { @class = "form-control", @id = "MaintenanceTime" })
            @Html.ValidationMessageFor(x => x.MaintenanceTime)
            <br /><br />

            @Html.Label("Boşta Bekleme Süresi (sa)")
            @Html.TextBoxFor(x => x.IdleTime, new { @class = "form-control", @id = "IdleTime", @readonly = "readonly" })
            @Html.ValidationMessageFor(x => x.IdleTime)
            <br /><br />

            <button class="btn btn-success">Kaydet</button>
        </div>
    }


</div>