@using EntityLayer.Concrete
@model List<Car>

@{
    ViewBag.Title = "UserCarGetList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int count = 0;
}

<link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <h3 class="d-flex justify-content-center align-items-center pt-3">Araç Bilgileri Listesi</h3>
    <br />
    <table class="table table-bordered table-hover">
        <tr class="text-center">
            <th>#</th>
            <th>Araç Adı</th>
            <th>Plaka</th>
            <th>Aktif Çalışma Süresi(sa)</th>
            <th>Bakım Süresi(sa)</th>
            <th>Boşta Bekleme Süresi(sa)</th>
            <th>Tarih</th>
            <th>Araç Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr class="text-center">
                <th>@count</th>
                <td>@item.CarName</td>
                <td>@item.CarPlate</td>
                <td>@item.ActiveWorkTime</td>
                <td>@item.MaintenanceTime</td>
                <td>@item.IdleTime</td>
                <td>@item.Date</td>
                <td><a href="/UserCar/UserCarEdit/@item.CarID" class="btn btn-primary">Güncelle</a></td>
            </tr>
        }
    </table>
</div>
