@model EntityLayer.Concrete.Car
@{
    Layout = null;
}
<link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h1 class="mt-5">Ekleme Sayfası</h1>
    <br />
    @using (Html.BeginForm("AddCar", "Car", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Araç Adı")
            @Html.TextBoxFor(x => x.CarName)
            @Html.ValidationMessageFor(x => x.CarName)
            <br /><br />
            @Html.Label("Araç Plakası")
            @Html.TextBoxFor(x => x.CarPlate)
            @Html.ValidationMessageFor(x => x.CarPlate)
            <br /><br />
            @Html.Label("Aktif Çalışma Süresi(sa)")
            @Html.TextBoxFor(x => x.ActiveWorkTime)
            @Html.ValidationMessageFor(x => x.ActiveWorkTime)
            <br /><br />
            @Html.Label("Bakım Süresi(sa)")
            @Html.TextBoxFor(x => x.MaintenanceTime)
            @Html.ValidationMessageFor(x => x.MaintenanceTime)
            <br /><br />
            @Html.Label("Boşta Bekleme Süresi (sa)")
            @Html.TextBoxFor(x => x.IdleTime)
            @Html.ValidationMessageFor(x => x.IdleTime)
            <br /><br />
            <button class="btn btn-success">Kaydet</button>
        </div>
    }
</div>
@*<form method="post" class="form-group">
        <label>Araç Adı</label>
        <input type="text" placeholder="Araç adını giriniz." name="CarName" class="form-control" />
        <br />
        <label>Araç Plakası</label>
        <input type="text" placeholder="Araç adını giriniz." name="CarPlate" class="form-control" />
        <br />
        <label>Aktif Çalışma Süresi</label>
        <input type="text" placeholder="Araç adını giriniz." name="ActiveWorkTime" class="form-control" />
        <br />
        <label>Bakım Süresi</label>
        <input type="text" placeholder="Araç adını giriniz." name="MaintenanceTime" class="form-control" />
        <br />
        <label>Boşta Bekleme Süresi</label>
        <input type="text" placeholder="Araç adını giriniz." name="IdleTime" class="form-control" />
        <br />
        <button class="btn btn-primary">Ekle</button>
    </form>*@
