@using EntityLayer.Concrete
@model List<Car>
@{
    Layout = null;
}

<link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <h3>Araç Bilgileri Listesi</h3>
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>Araç ID</th>
            <th>Araç Adı</th>
            <th>Araç Plakası</th>
            <th>Aktif Çalışma Süresi(sa)</th>
            <th>Bakım Süresi(sa)</th>
            <th>Boşta Bekleme Süresi(sa)</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CarID</td>
                <td>@item.CarName</td>
                <td>@item.CarPlate</td>
                <td>@item.ActiveWorkTime</td>
                <td>@item.MaintenanceTime</td>
                <td>@item.IdleTime</td>
            </tr>
        }
    </table>
    <br />
    <a href="/Car/AddCar/" class="btn btn-success">Yeni Araç Ekle</a>
</div>